<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>




  <div class="row center-block">
    <div class="center-block col-md-4">
    <%= f.label "Telefono (*)" %>
    <%= f.telephone_field :phone, autofocus: true , :required => "required", class:"form-control" %>
    </div>
  </div>
  
  <div class="row center-block">
    <div class="center-block col-md-4">
    <%= f.label "Fecha de nacimiento(*)" %><br>
    <%= f.date_select :birthDate,:order => [:day, :month, :year],start_year:1900,end_year:Date.today.year, autofocus: true , :required => "required", class:"form-control" %>
    </div>
  </div>

  <div class="row center-block">
    <div class="center-block col-md-4">
    <%= f.label "DNI (*)" %>
    <%= f.text_field :DNI, autofocus: true , :required => "required", class:"form-control" %>
    </div>
  </div>

  <div class="row center-block">
  <div class="field col-md-4 center-block" >
    
    <%= f.label "E-mail(*)"  %>
    <%= f.email_field :email, autofocus: true, type: "email", class:"form-control", id: "exampleInputEmail1", placeholder: "Enter email" %>
  </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="row center-block">
  <div class="field col-md-4 center-block" >
    <%= f.label "Contraseña" %> <i>(mantener en blanco si no quiere cambiar)</i>
    <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
  </div>
  </div>
<div class="row center-block">
  <div class="field col-md-4 center-block" >
    <%= f.label "Repita la Contraseña" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
  </div>
  </div>
<div>DOMICILIO</div>
<ul>


   <%= f.fields_for :domicile, resource.domicile do |s| %>
    <div class="row center-block">
    <div class="center-block col-md-4">  
    <%= s.label "Pais(*)" , class:"label-domicile" %>
    <%= s.text_field :country, autofocus: true , :required => "required", class:"form-control form-domicile" %>
    </div>
    </div>

    <div class="row center-block">
    <div class="center-block col-md-4">  
    <%= s.label "Provincia(*)", class:"label-domicile" %>
    <%= s.text_field :province, autofocus: true , :required => "required", class:"form-control form-domicile" %>
    </div>
    </div>
     <div class="row center-block">
    <div class="center-block col-md-4">  
    <%= s.label "Ciudad(*)", class:"label-domicile" %>
    <%= s.text_field :city, autofocus: true , :required => "required", class:"form-control form-domicile" %>
    </div>
    </div>

    <div class="row center-block">
    <div class="center-block col-md-4">  
    <%= s.label "Calle(*)", class:"label-domicile" %>
    <%= s.text_field :street, autofocus: true , :required => "required", class:"form-control form-domicile" %>
    </div>
    </div>

    <div class="row center-block">
    <div class="center-block col-md-4">  
    <%= s.label "Numero(*)", class:"label-domicile" %>
    <%= s.text_field :number, autofocus: true , :required => "required", class:"form-control form-domicile" %>
    </div>
    </div>
   
   <% end %>
   </ul>

<div >Tarjetas de credito</div>
<ul >
<%@cc=resource.credit_cards%>
<%@count=0%>
   <%= f.fields_for :credit_cards, resource.credit_cards do |c| %>
   <div class="row center-block">
    <div class="center-block col-md-4">  
    <%= c.label "Propietario", class:"label-creditcard" %>
    <%= c.text_field :owner, autofocus: true , :required => "required", class:"form-control form-creditcard" %>
    </div>
    </div>

    <div class="row center-block">
    <div class="center-block col-md-4">  
    <%= c.label "Numero", class:"label-creditcard" %>
    <%= c.text_field :number, autofocus: true , :required => "required", class:"form-control form-creditcard" %>
    </div>
    </div>

    <div class="row center-block">
    <div class="center-block col-md-4">  
    <%= c.label "Vencimiento", class:"label-creditcard" %><br>
    <%= c.date_select :expireDate, :order => [:month, :year], :required => "required", autofocus: true,start_year:Date.today.year,end_year:Date.today.year+5, class:"form-control" %>
    </div>
    </div>

    <div class="row center-block">
    <div class="center-block col-md-1">  
    <%= c.label "Codigo de seguridad", class:"label-creditcard" %><br>
    <%= c.text_field :securityCode, autofocus: true, :required => "required", class:"form-control" %><br>
    
    </div>
    </div>
    <%= link_to 'Eliminar Tarjeta', @cc[@count] , method: :delete, data: { confirm: '¿Estas seguro?' }, class:'btn btn-danger' %>
    <%@count=@count+1%>
    
   <% end %>
   <!-- Quiza debereia controlar cuantas tarjetas puedo tener -->
   
   </ul>
   <%= link_to 'Nueva Tarjeta', new_credit_card_path, class:'btn btn-default' %>



<div class="row center-block">
  <div class="field col-md-4 center-block" >
    <%= f.label "Contraseña actual" %> <i>(Necesitamos su actual contraseña para realizar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class:"form-control" %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit "Actualizar", class:" btn btn-default" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Eliminar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estas seguro?" }, method: :delete %></p>

<%= link_to "Atras", :back %>
