<h2>Registrarse</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="row center-block">
    <div class="center-block col-md-4">
    <%= f.label "Nombre completo (*)" %>
    <%= f.text_field :name, autofocus: true , :required => "required", class:"form-control" %>
    </div>
  </div>


  <div class="row center-block">
    <div class="center-block col-md-4">
    <%= f.label "Telefono (*)" %>
    <%= f.telephone_field :phone, autofocus: true , :required => "required", class:"form-control" %>
    </div>
  </div>
  

  <div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datepicker();
            });
        </script>
    </div>
</div>

  <div class="row center-block">
    <div class="center-block col-md-4">
    <%= f.label "Fecha de nacimiento(*)" %><br>
    <%= f.date_select :birthDate,:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'],:order => [:day, :month, :year],start_year:1900,end_year:Date.today.year, autofocus: true , :required => "required", class:"form-control" %>
    </div>
  </div>
  <%= f.date_field :birthDate, type:'date'%>

  <div class="row center-block">
    <div class="center-block col-md-4">
    <%= f.label "DNI (*)" %>
    <%= f.text_field :DNI, autofocus: true , :required => "required", class:"form-control" %>
    </div>
  </div>

  <div class="row center-block">
  <div class="field col-md-4 center-block" >
    
    <%= f.label "Email(*)"  %>
    <%= f.email_field :email, autofocus: true, type: "email", class:"form-control", id: "exampleInputEmail1", placeholder: "Ingresar e-mail" %>
  </div>
  </div>


 <div class="row center-block">
  <div class="field col-md-4 center-block" >
    <%= f.label "Contraseña (*)" %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control"  %>
  </div>
    </div>
<div class="row center-block">
  <div class="field col-md-4 center-block" >
    <%= f.label "Repita la Contraseña (*)" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
  </div>
  </div>


<div>DOMICILIO</div>
<ul>


   <%= f.fields_for :domicile, Domicile.new do |s| %>
        <div class="row center-block">
    <div class="center-block col-md-4">  
    <%= s.label "Pais(*)" , class:"label-domicile" %>
    <%= s.text_field :country, autofocus: true , :required => "required", class:"form-control form-domicile" %>
    </div>
    </div>

    <div class="row center-block">
    <div class="center-block col-md-4">  
    <%= s.label "Provincia(*)", class:"label-domicile" %>
    <%= s.text_field :province, autofocus: true , :required => "required", class:"form-control form-domicile" %>
    </div>
    </div>
     <div class="row center-block">
    <div class="center-block col-md-4">  
    <%= s.label "Ciudad(*)", class:"label-domicile" %>
    <%= s.text_field :city, autofocus: true , :required => "required", class:"form-control form-domicile" %>
    </div>
    </div>

    <div class="row center-block">
    <div class="center-block col-md-4">  
    <%= s.label "Calle(*)", class:"label-domicile" %>
    <%= s.text_field :street, autofocus: true , :required => "required", class:"form-control form-domicile" %>
    </div>
    </div>

    <div class="row center-block">
    <div class="center-block col-md-4">  
    <%= s.label "Numero(*)", class:"label-domicile" %>
    <%= s.text_field :number, autofocus: true , :required => "required", class:"form-control form-domicile" %>
    </div>
    </div>
   
   <% end %>
   </ul>







<div>Tarjeta de credito <em>(Opcional)</em> </div>
<ul>
   <%= f.fields_for :credit_cards, CreditCard.new do |c| %>
   <div class="row center-block">
    <div class="center-block col-md-4">  
    <%= c.label "Propietario", class:"label-creditcard" %>
    <%= c.text_field :owner, autofocus: true , class:"form-control form-creditcard" %>
    </div>
    </div>

    <div class="row center-block">
    <div class="center-block col-md-4">  
    <%= c.label "Numero", class:"label-creditcard" %>
    <%= c.text_field :number, autofocus: true , class:"form-control form-creditcard" %>
    </div>
    </div>

    <div class="row center-block">
    <div class="center-block col-md-4">  
    <%= c.label "Vencimiento", class:"label-creditcard" %><br>
    <%= c.date_select :expireDate, :order => [:month, :year],start_year:Date.today.year,end_year:Date.today.year+5, autofocus: true, class:"form-control" %>
    </div>
    </div>

    <div class="row center-block">
    <div class="center-block col-md-1">  
    <%= c.label "Codigo de seguridad", class:"label-creditcard" %><br>
    <%= c.text_field :securityCode, autofocus: true, class:"form-control" %>
    </div>
    </div>
   
   <% end %>
   </ul>


  <div class="actions">
    <%= f.submit "Registrarse", class:"btn btn-default" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
