<%if @producto.comments.count == 0%>
        <h3>Sin comentarios</h3>
<% else %>
  <% @producto.comments.each do |c| %>
  <p>
    <strong>Usuario:</strong>
    <%= c.user_id %>
  </p>
  <p>
    <strong>Dijo:</strong>
    <%= c.mensaje %>
    <%= link_to "Editar comentario", [c.producto, c], method: :edit %>
    <%= link_to "Responder", respuesta_path(c) %>
  </p>
  <p>
    <strong> Respuesta: </strong> <%=c.respuesta %> 
  </p>
<% end %>
        <% end %>