<%if @producto.comments.count == 0%>
        <h3>Sin comentarios</h3>
<% else %>
  <p>
    <strong>Usuario:</strong>
    <%= comment.user_id %>
  </p>
  <p>
    <strong>dijo:</strong>
    <%= comment.mensaje %>
    <!--<%= link_to "Editar comentario"%>
    <%= link_to "Responder" %>
  <p>
    <strong> Respuesta: </strong> <%=%> 
  </p>-->
<% end %>
        