<%= form_for [@producto, @ofert],html:{class:'form-horizontal'} do |f| %>
<% if @ofert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ofert.errors.count, "error") %> Imposible realizar la oferta:</h2>
      <ul>
         <% @ofert.errors.full_messages.each do |mensaje| %>
         <li> <%= mensaje %> </li>
         <% end %>
      </ul>
    </div>
   <% end %>
  <fieldset>
  <legend>Realize su oferta</legend>
  <p>
    <div class:"control-group">
       <%= f.label "Detalle por qué le interesa el producto:",class:'col-sm-3 control-label' %>
       <div class="col-sm-6 controls">
          <%= f.text_area :motivacion , {value:@mensaje,required:"required",cols:80,rows:5,class:'form-control text_field'} %>
       </div>
    </div>
  </p>
  
  <p>
    <div class:"control-group">
    <%= f.label "Ingrese el dinero ofrecido por el producto (mínimo $1):",class:'control-label' %><br>
       <div class:"controls">
         $<%= f.text_field :dinero, value: "1",class:'text_field' %>
       </div>
    </div>
  </p>

  <p>
    <div class:"col-sm-12 form-actions">
        <%= f.submit "Finalizar", class:'btn btn-primary' %>
    </div>
  </p>
</fieldset>
<% end %>