<%= form_for [@producto, @ofert],html:{class:'form-horizontal'} do |f| %>
<% if @ofert.errors.any? or current_user.credit_card.errors.any? %>
     <div id="error_explanation">
      <h2><%= pluralize(@ofert.errors.count + current_user.credit_card.errors.count, "error") %> Imposible realizar la oferta:</h2>
      <ul>
         <% @ofert.errors.full_messages.each do |mensaje| %>
         <li> <%= mensaje %> </li>
         <% end %>
         <% current_user.credit_card.errors.full_messages.each do |mensaje| %>
         <li> <%= mensaje %> </li>
         <% end %>
      </ul>
    </div>
   <% end %>
  <fieldset>
  <legend>Realize su oferta</legend>
  <p>
    <div class:"control-group">
       <%= f.label "Detalle por qué le interesa el producto:",class:'col-sm-3 control-label' %>
       <div class="col-sm-6 controls">
          <%= f.text_area :motivacion , {value:@mensaje,required:"required",cols:80,rows:5,class:'form-control text_field'} %>
       </div>
    </div>
  </p>
  
  <p>
    <div class:"control-group">
    <%= f.label "Ingrese el dinero ofrecido por el producto (mínimo $1):",class:'control-label' %><br>
       <div class:"controls">
         $<%= f.text_field :dinero, value: "1",class:'text_field' %>
       </div>
    </div>
  </p>

  <p>
    <div>Datos de la tarjeta de crédito</div>
    <ul>

        <div class="row center-block">
          <div class="center-block col-md-4">  
             <%= label_tag "Propietario(*)"%>
             <%= text_field_tag :owner, current_user.credit_card.owner, autofocus: true , required:"required", class:"form-control form-creditcard" %>
          </div>
        </div>

        <div class="row center-block">
            <div class="center-block col-md-4">  
                <%= label_tag "Numero(*)" %>
                <%= text_field_tag :number, current_user.credit_card.number, autofocus: true, required:"required" , class:"form-control form-creditcard" %>
            </div>
        </div>
        <div class="row center-block">
            <div class="center-block col-md-4">  
                <%= label_tag "Vencimiento(*)"%><br>
                <%= select_date current_user.credit_card.expireDate,  discard_day: true, start_year:Date.today.year,end_year:Date.today.year+5,required:"required", class:"form-control", name: 'expireDate' %>
            </div>
        </div>
        <div class="row center-block">
           <div class="center-block col-md-1">  
           <%= label_tag "Codigo de seguridad(*)"%><br>
           <%= password_field_tag  :securityCode, current_user.credit_card.securityCode,required:"required" ,pattern:"(?=.*[0-9]).{3,3}" ,class:"form-control" %><!-- consultar lo de si el codigo va oculto o si no se debe editar ni crear al crear -->

           </div>
        </div>
     </ul>      
  </p>

  <p>
    <div class:"col-sm-12 form-actions">
        <%= f.submit "Finalizar", class:'btn btn-primary' %>
    </div>
  </p>
</fieldset>
<% end %>