<h1>Modificando Oferta</h1>
<%= form_for([@ofert]) do |f| %>
<% if @ofert.errors.any? %>
      <ul>
         <% @ofert.errors.each do |mensaje| %>
         <li> <%= mensaje %> </li>
         <% end %>
      </ul>
   <% end %>
    <p>
      <%= f.label "Motivo de su oferta:" %><br>
      <span class="help-block">(Este campo no se puede editar)</span>
      <%= f.text_area :motivacion , {value:@ofert.motivacion,cols:80,rows:5,disabled:"disabled"} %>
    </p>

    <p>
      <%= f.label "Dinero ofrecido (mínimo $1):" %><br>
      $<%= f.text_field :dinero, value: @ofert.dinero %>
    </p>

    <%= f.submit "Finalizar", class:'btn btn-primary' %>
  </p>

    <%= link_to "Cancelar", oferts_path(user_id:current_user.id),class:'btn btn-secondary' %>
  
  
 <% end %>
