<h1>Mis ofertas</h1>
<% if @oferts.size()== 0 %>
	<h2> No tienes ninguna oferta vigente </h2>
<% else %> 
	<div class="table-responsive">
	<table class="table table-hover">
		<tr>
			<th> Producto </th>
			<th> Motivo </th>
			<th> Dinero ofrecido </th>
			<th> Editar monto </th>
		</tr>
	<% @oferts.all.each do |of| %>
	<% if of.producto.vencimiento>Date.today %>
	<tr>
		<td> <%= link_to of.producto do %>
              <%= image_tag of.producto.UrlImage, title: of.producto.titulo, class:'img-thumbnail test', alt:'SIN IMAGEN', style:'max-width: 50px; max-height: 50px;'%>
              <% end %></a> </td>
		<td> <%=truncate(of.motivacion,length:80) {link_to "Ver mas...", of,{style:'color:#B31B1B'}}%></td>
		<div text-align:"center"><td> $<%= of.dinero %></td>
		<td><%= link_to "Modificar valor",edit_ofert_path(of), class:'btn btn-primary' %></td>
	</tr>
	<% end %><!-- del if  -->
	<% end %><!-- del each -->
	</table>
	</div>
<% end %>
