<%= form_for([@contact]) do |f| %>
<% if @contact.errors.any? %>
      <ul>
         <% @contact.errors.each do |mensaje| %>
         <li> <%= mensaje %> </li>
         <% end %>
      </ul>
   <% end %> 
  <p><%= f.label "Elija el motivo por el cual desea contactarnos" %>
     <%= f.select :motivo, :option => ['Error en la pagina', 'Sobre el uso de la página', 'Saludar al administrador', 'Otros'], class:"form-control" %>
    <%= f.label "Escriba su mensaje:" %><br>
    <%= f.text_area :contenido, autofocus: true , :required => "required", class:"form-control" %>
  </p>
  <p>
    <%= f.submit "Enviar" %>
  </p>
<% end %>