<%= form_for([@contact]) do |f| %>
<% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> Problema al enviar el mensaje:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li>El <%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
<fieldset>
    <legend>Formulario de contacto</legend>
    <p>
    <% if !user_signed_in? %>
      <div class="control-group">
        <%= f.label "Ingrese su email:", class:'control-label' %>
        <div class="controls">
          <%= f.text_field :user_email, required:"required",type:"email",class:'text_field'  %>(nombre@dominio.com)
        </div>
      </div>
    <% end %>
    </p>
    
    <p>
    <div class="control-group">
      <%= f.label "Indique el motivo de su mensaje:", class:'control-label' %>
      <div class="controls">
        <%= f.select :motivo,['Error en la pagina', 'Sobre el uso de la pagina', 'Saludar al administrador', 'Otros'],class:'form-control'  %>
      </div>
    </div>
    </p>

    <p>
    <div class="control-group">
      <%= f.label "Escriba su mensaje:", class:'control-label' %>
      <div class="controls">
        <%= f.text_area :contenido, autofocus:true, required:"required" ,class:'form-control'  %>
      </div>
    </div>
    </p>
    
    <div class="control-group">
        <div class="col-sm-9 col-sm-offset-3">
            <ul id="errors"></ul>
        </div>
    </div>
    
    <p>
    <div class="col-sm-12 form-actions">
      <%= f.submit "Enviar", class:'btn btn-primary' %>
    </div>
    </p>
   </fieldset>
<% end %>