<h1>Tus subastas</h1>
<% if Producto.where(user_id:current_user.id).size()== 0 %>
  <h2> No tienes ninguna subasta vigente </h2>
<% else %> 
  <div class="row">
    <% Producto.where(user_id:current_user.id).each do |producto| %> 
      <div class="row container subasta" >
      <div class="row">
        <dt id="titulo"><%= producto.titulo %> </dt>
        <div class=" col-md-6">
          <%= link_to producto do %>
              <%= image_tag producto.UrlImage, title: producto.titulo, class:'img-thumbnail test', alt:'SIN IMAGEN', style:'max-width: 100%; max-height: 100%;'%>
              <% end %></a>
        </div>
        <div class=" col-md-6">
          <dt><%= producto.descripcion[0, 100] %>
          <% if producto.descripcion.length > 100 %>
            <span> <%= link_to "ver mas...", producto %></span>
          <% end %></dt>
          <dd></dd>
          <dt>Publicado: </dt>
          <dd><%= localize producto.created_at, format: :long %></dd>
          <dt>Vence: </dt>
          <dd><%= localize producto.vencimiento, format: :long %></dd>
          <dt>Categoria: </dt>
          <dd><%=Category.find(producto.category_id).name %></dd>
        </div>
      </div><!-- Cierre div row de datos y foto -->
      <div class="row center margen">
            <%= link_to 'Mostrar producto', producto, class:'btn btn-default' %>
            <%= link_to 'Editar producto', edit_producto_path(producto), class:'btn btn-default' %>
            <%= link_to 'Eliminar producto', producto, method: :delete, data: { confirm: '¿Estas seguro?' }, class:'btn btn-danger' %>
      </div><!-- Cierre row botones -->
      </div><!-- Cierre div de continer subasta  -->
    <% end %><!-- End del .each -->
  </div>
<% end %>
