<%= form_for(@producto) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> no permiten que este producto se pueda guardar:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
    <div class="field">
    <%= f.label :'URL de la imagen' %><br>
    <%= f.text_field :UrlImage %>
    <%= link_to "¿Cómo obtengo la URL?", ayuda_path, class:'btn btn-primary' %>
    </div>
   <div class="field">
    <%= f.label :vencimiento %><br>
    <%= f.date_select :vencimiento,:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'],:order => [:day,:month,:year],start_year:Date.today.year,end_year:Date.today.year+1, default: 30.days.from_now %>
  </div>
   <div class="field">
    <%= f.label "categoria" %><br>
    <%= f.collection_select :category_id, Category.all , :id, :name %>
  </div>
  
  <div class="actions">
    <%= f.submit "Crear producto" %>
  </div>
<% end %>
