<%= form_for(@producto) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<<<<<<< HEAD

<!--  <div class="field">
    <%= f.label :image %><br>
    <!-- <%= f.file_field :image %> --> <!--
    <%= f.text_field :image %>
  </div> 
  -->
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha, {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre']} %> 
  </div>
=======
>>>>>>> f7fb32c627ad1e438e8fc5a99dadca16be322af5
  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
    <div class="field">
    <%= f.label :'URL de la imagen' %><br>
    <%= f.text_field :UrlImage %>
  </div>
   <div class="field">
    <%= f.label :vencimiento %><br>
    <%= f.date_select :vencimiento, {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre']}, start_year:Date.today.year,end_year:Date.today.year+1 %>
  </div>
  <div class="actions">
    <%= f.submit "Crear producto" %>
  </div>
<% end %>
