<%= form_for(@producto) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> no permiten que este producto se pueda guardar:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row center-block">
    <div class="center-block col-md-4">  
   
    <%= f.label :"titulo(*)" , class:"label-subasta" %><br>
    <%= f.text_field :titulo, autofocus: true , :required => "required", class:"form-control form-subasta" %>
    </div>
    </div>

<div class="row center-block">
    <div class="center-block col-md-4">  
   
    <%= f.label :"descripcion(*)", class:"label-subasta" %><br>
    <%= f.text_area :descripcion, autofocus: true , :required => "required",class:"form-control form-subasta",rows:6 %>
    </div>
    </div>


<div class="row center-block">
    <div class="center-block col-md-4">  
   
    <%= f.label :'URL de la imagen(*)', class:"label-subasta" %><br>
    <%= f.url_field :UrlImage, autofocus: true , :required => "required",class:"form-control form-subasta" %>
    <%= link_to ayuda_path do %>
      <%= image_tag "ask_icon.png", title: "Como obtengo la URL?", class: "img-thumbnail", id:"ask-icon"%>
    <% end %>
    </div>
    </div>
    

<div class="row center-block">
    <div class="center-block col-md-4">  
    <%= f.label :"vencimiento(*)", class:"label-subasta" %><br>
    <%= f.date_select :vencimiento,:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'],:order => [:day,:month,:year],start_year:Date.today.year,end_year:Date.today.year+1, default: 30.days.from_now, autofocus: true , :required => "required",class:"form-control form-subasta" %>
    </div>
    </div>
<div class="row center-block">
    <div class="center-block col-md-4">  
    <%= f.label "categoria(*)", class:"label-subasta" %><br>
    <%= f.collection_select :category_id, Category.all , :id, :name, autofocus: true , :required => "required",class:"form-control form-subasta" %>
    </div>
    </div>
    
  <div class="row center-block">
    <div class="center-block col-md-4">  
  <div class="actions">
    <%= f.submit "Crear producto", class:"btn btn-info" %>
  </div>
    </div>
    </div>
    
<% end %>
