<%= form_for(@producto) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--  <div class="field">
    <%= f.label :image %><br>
    <!-- <%= f.file_field :image %> --> <!--
    <%= f.text_field :image %>
  </div> 
  -->
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %> 
  </div>
  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
    <div class="field">
    <%= f.label :'URL de la imagen' %><br>
    <%= f.text_field :UrlImage %>
  </div>
   <div class="field">
    <%= f.label :vencimiento %><br>
    <%= f.date_select :vencimiento, start_year:Date.today.year,end_year:Date.today.year+1 %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.number_field :usuario_id %>
  </div>
  <div class="actions">
    <%= f.submit "Crear producto" %>
  </div>
<% end %>
