<%= form_for(@producto, html: {role: 'form'}) do |f|%>

  
    

  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
     
    <div class="form-group">
    <%= f.label :fecha, class: "control-label"  %><br>
    <%= f.date_select :fecha, class: "form-control"  %>
    </div>
      </div>
    
  


  <div class="field">
<div class="form-group">
    <%= f.label :titulo, for: 'exampleInputEmail1' %><br>
    <%= f.text_field :titulo, class: 'form-control', type: 'email', id: 'exampleInputEmail1', placeholder: 'Enter email' %>
  </div>
  </div>
  <div class="field" >


    <!-- <textarea class="form-control" rows="3"><%= f.text_field :descripcion %></textarea> -->
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :vencimiento %><br>
    <%= f.date_select :vencimiento %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
