
<% if @productos.size==0 %>
<h1>No se encontraron subastas</h1>
        
      <% else %>
      
      <h1>Subastas Vigentes</h1>


      <div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    Ordenar <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
  
                <li><%= link_to 'Alfabeticamente', sort: "titulo", direction:"asc" %></li>

                <li><%= link_to 'Fecha de creacion ascendente', sort: "created_at", direction:"asc" %></li>

                <li><%= link_to 'Fecha de creacion descendente', sort: "created_at", direction:"desc" %></li>

                <li><%= link_to 'Vencimiento de subasta ascendente', sort: "vencimiento", direction:"asc" %></li>

                <li><%= link_to 'Vencimiento de subasta descendente', sort: "vencimiento", direction:"desc" %></li>

  </ul>
</div>

    <% @productos.each do |producto| %> 

      <dt><%= producto.titulo %> </dt>
      <img src="<%=producto.UrlImage%>" alt="SIN IMAGEN" style="max-width: 15%; max-height: 15%;">
 <!--  <img style:'max-width:10%;'><%= image_tag producto.image_url() if producto.image? %><br> -->
  <dt><%= producto.descripcion %></dt>
  <dd></dd>
  <dt>Publicado: </dt>
  <dd><%= producto.created_at %></dd>
  <dt>Vencimiento: </dt>
  <dd><%= producto.vencimiento %></dd>
  <%= link_to 'Mostrar producto', producto, class:'btn btn-default' %>
  <%= link_to 'Editar producto', edit_producto_path(producto), class:'btn btn-default' %>
  <%= link_to 'Eliminar producto', producto, method: :delete, data: { confirm: '¿Estas seguro?' }, class:'btn btn-danger' %>
  <br>
  <% end %>
    </dl>
<br>
<% end %><br>

<%= link_to 'Nuevo producto', new_producto_path %>


