<p id="notice"><%= notice %></p>


<img src="<%=@producto.UrlImage%>" alt="Sin Imagen" class="img-thumbnail">

<p>
  <strong>Titulo:</strong>
  <%= @producto.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>

<p>
  <strong>Vencimiento:</strong>
  <%= @producto.vencimiento %>
</p>

LO SIGUIENTE ES SOLO PARA CONTROL
<!-- LO SIGUIENTE ES SOLO PARA CONTROL -->
<p>
  <strong>Usuario:</strong>
  <%= @producto.user_id %>
</p>

<h2>Comentarios</h2>
<%= render @producto.comments %>
</p>


<h2>Añadir un comentario:</h2> 
<%= render "comments/form" %> 
</p> 
  

<%= link_to 'Editar producto', edit_producto_path(@producto) %> 
<%= link_to 'Atras', productos_path %>
