<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @producto.image_url() if @producto.image? %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @producto.fecha %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @producto.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>

<p>
  <strong>Vencimiento:</strong>
  <%= @producto.vencimiento %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @producto.usuario_id %>
</p>

<p>
  <strong>Comentarios</strong>
  <%if @producto.comments.count == 0%>
        <h3>Sin comentarios</h3>
  <% else %>
        <ul>
   <% @producto.comments.each do |c| %>
   <% if c == "." or c == ".." then next end; %>
   <li>
      <strong> <%= c.user_id %> preguntó: </strong>  <%=c.mensaje %>  
      <%= link_to "Editar comentario", edit_comment_path(c) %>
       %><ul><strong> Respuesta: </strong> <%=c.respuesta %> </ul>
   </li>
   <% end %>
</ul>
<% end %>
</p>

<%= link_to 'Edit', edit_producto_path(@producto) %> 
<%= link_to 'Back', productos_path %>
