<img src="<%=@producto.UrlImage%>" alt="Sin Imagen" class="img-thumbnail">

<p>
  <strong>Titulo:</strong>
  <%= @producto.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>

<p>
  <strong>Vencimiento:</strong>
  <%= @producto.vencimiento.strftime("%d de %B de %Y") %>
</p>

LO SIGUIENTE ES SOLO PARA CONTROL
<!-- LO SIGUIENTE ES SOLO PARA CONTROL -->
<p>
  <strong>Usuario:</strong>
  <%= @producto.user_id %>
</p>

<p>
<h2>Comentarios</h2>
<%= render @producto.comments %>
</p>

<p>
<%if !user_signed_in? || current_user.id!=@producto.user_id %>
<%= render "comments/form" %> 
</p> 
<% end %>
  
<% if user_signed_in? %>
	<% if current_user.id==@producto.user_id %>
		<%= link_to 'Editar producto', edit_producto_path(@producto) %>
    <%= link_to 'Ver ofertas', [@producto],
        method: :indexOferts %>
    <%else %>  
		    <%=link_to 'Realizar oferta', new_producto_ofert_path(@producto)%> 
	<% end %>
<%end %>
<%= link_to 'Atras', productos_path %>