<div class="row">
    <% @usuarios.each do |usuario| %> 
      <div class="row container subasta" >
      <div class="row">
          <dt>Nombre: </dt>
          <dd><%= usuario.name %></dd>
          <dt>E-mail: </dt>
          <dd><%= usuario.email %></dd>
          <dt>Registrado: </dt>
          <dd>El dia <%= localize usuario.created_at, format: :long %>hs</dd>

      </div><!-- Cierre row botones -->
    </div><!-- Cierre div de continer subasta  -->
    <% end %><!-- End del .each -->
   <%=@usuarios.count%> usuarios se registraron entre <%=  localize @start_date, format: :long %> y <%= localize @end_date, format: :long%>
  </div><!-- row  del each-->