<h1>Statistic#generate_statistics</h1>
<p>Find me in app/views/statistic/generate_statistics.html.erb</p>
start_date: <%=@start_date%><br>
statistic_type: <%=@statistic_type%><br>
end date: <%=@end_date%>

<div class="row">
    <% @usuarios.each do |usuario| %> 
      <div class="row container subasta" >
      <div class="row">
          <dt>nombre: </dt>
          <dd><%= usuario.name %></dd>
          <dt>Registrado: </dt>
          <dd><%= localize usuario.created_at, format: :long %></dd>

      </div><!-- Cierre row botones -->
    </div><!-- Cierre div de continer subasta  -->
    <% end %><!-- End del .each -->
   
  </div><!-- row  del each-->
  

