<h1>Statistic#index</h1>
<p>Find me in app/views/statistic/index.html.erb</p>
<%= form_tag(controller: "statistic",action: "index" ) do %>
  <%= label_tag("Desde") %>
  <%= select_date(@start_date, prefix: :start_date, order: [:day, :month, :year ], start_year: Date.today.year-5, end_year: Date.today.year) %>
  <%= label_tag("Hasta") %>
  <%= select_date(@end_date, prefix: :end_date, order: [:day, :month, :year], start_year: Date.today.year-5, end_year: Date.today.year) %>
  <%= select_tag(:statistic_type, options_for_select([['Usuarios', 1], ['Recaudacion', 2]])) %>
  <%= submit_tag("Ver estadisticas!") %>
<% end %>
<% if @statistic_type!=nil && @statistic_type=='1' %>
	<%= render 'users_statistics' %>
<%elsif @statistic_type!=nil && @statistic_type=='2' %>	
	<%= render 'income_statistics' %>
<%end%>