 <!--  -->
 <header>

<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <!-- El logotipo y el icono que despliega el menu se agrupan
       para mostrarlos mejor en los dispositivos moviles -->
  <div class="navbar-header"> 
  <!-- Agrupar los enlaces de navegacion, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <ul class="nav navbar-nav">
      
  <ul class="nav nav-pills">
    <li class="active"><a href="#">Inicio</a></li>
    <li><a href="#">Ayuda</a></li>
    <li><a href="#">Registrarme</a></li>
  </ul>

  <a class="navbar-header center-block">
    <%= link_to root_path, class: 'navbar-brand center-block' do %>
    <%= image_tag "logo.png", title: "Logo", class: "img-thumbnail col-md-4 col-md-offset-9"%>
            <!--BestNid-->
  <% end %></a>

</div>
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav pull-right">
    <%= form_tag(productos_path, :method => "get", id: "search-form", class:'navbar-form navbar-left') do %>
    <%= text_field_tag :search, params[:search], placeholder: "Buscar",class:'form-control' %>
    <%= submit_tag "Buscar", :titulo => nil, class:'btn btn-default'%>
    <% end %>
    <li><%= link_to "Iniciar sesión", '#', class: "btn btn-lg btn-primary" %></li>
    </ul>
    
</div>

</nav>
</div>
</header>